<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static %}
    <link rel="stylesheet" type ="text/css" href="{% static 'schedules/style2.css' %}">
</head>
<body>
    <form method = "POST" action="">
        {%csrf_token%}
     <label >{{form.username.label}}</label> 
     <span>{{form.username}}</span><br>
     <label > {{form.email.label}}</label>
     <span> {{form.email}}</span><br>
     <label >{{form.password1.label}}</label>
      <span>{{form.password1}}</span><br>
      <label >{{form.password2.label}}</label>
      <label >  {{form.password2}}</label><br>
    <span> {{form.errors}}</span>
     
      <input type="submit" value="Register" class="register">
     
    </form>
    <span>Already have an account <a href="{% url 'login' %}">Login</a></span>
</body>
</html>